body {
    background-color: slategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.letter{
    transition: color .5s ease;
}

h1 span{
    font-size: 16rem;
}